<%= form_tag atualizar_carrinho_itens_path  do %>	
	<table border=1>
		<tr>
			<th> Código </th>
			<th> Produto </th>
			<th> Quantidade </th>
			<th> Preço uni. </th>
			<th> Total </th>
		</tr>	
		<% pedido_atual.item.each do |itens| %>			
			<%= render(:partial => "item" , :locals => {:itens => itens})%>
		<% end %>
				<tr>
			<td colspan=3> </td>
			<td> Total da compra </td>
			<td> <%= fmt_real(pedido_atual.preco_total) %> </td>
		</tr>
	</table>
	<%= submit_tag "Atualizar Carrinho" %>
<% end %>

