<h3> Novo Produto </h3>

<%= form_for [:admin, @produto] , multipart: true  do |f| %>
	<%= render(:partial => "form" , :locals => {:form => f })%>
<% end %>

<br />
<%= link_to "Voltar" , admin_produtos_path %>