<div align="center" style="border: 1px solid; border-radius: 20px;">
	<h3> Cadastre-se </h3>

	<%= form_for(@usuario , :html => {:method => :post , :class => "form-horizontal"}) do |form| %>
		<%= render(:partial => "form" , :locals => {:form => form }) %>
	<% end %>
</div>
